@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  max-width: 1200px;
}

.dashed-card-link{
  &.active{
    @apply border-tertiary text-tertiary bg-tertiary bg-opacity-10;
  }
}

body{
  font-family: 'Roboto', sans-serif;
}